<!doctype html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML5 Canvas雨滴下落动画DEMO演示2</title>
    <style media="screen">
        body {
            /* overflow: hidden; */
            height: 100%;
            margin: 0;
            padding: 0;
        }

        img {
            width: 100%;
            height: 100%;
        }
        canvas:nth-of-type(2){
            top: 514px !important;
        }
    </style>
    <script src="../static/js/rainyday.min.js"></script>
    <script>
        function run() {
            var image = document.getElementById('background');
            image.onload = function () {
                var engine = new RainyDay({
                    image: this
                });
                engine.rain([[1, 2, 8000]]);
                engine.rain([[3, 3, 0.88], [5, 5, 0.9], [6, 2, 1]], 100);
            };
            image.crossOrigin = 'anonymous';
            image.src = '../static/images/1.jpg';
        }
        function run2() {
            var image = document.getElementById('background');
            image.onload = function () {
                var engine = new RainyDay({
                    image: this
                });
                engine.rain([[3, 2, 2]], 100);
            };
            image.crossOrigin = 'anonymous';
            image.src = '../static/images/2.jpg';
        }

        function run3() {
                var image = document.getElementById('background2');
                image.onload = function () {
                    var engine = new RainyDay({
                        image: this
                    });
                    engine.rain([[0, 2, 200], [3, 3, 1]], 100);
                };
                image.crossOrigin = 'anonymous';
                image.src = '../static/images/3.jpg';
            }
            function run4() {
                var image = document.getElementById('background2');
                image.onload = function () {
                    var engine = new RainyDay({
                        image: this,
                        gravityAngle: Math.PI / 9
                    });
                    engine.trail = engine.TRAIL_SMUDGE;
                    engine.rain([[1, 0, 1000], [3, 3, 1]], 100);
                };
                image.crossOrigin = 'anonymous';
                image.src = '../static/images/4.jpg';
            }
             function run5() {
                    var image = document.getElementById('background');
                    image.onload = function () {
                        var engine = new RainyDay({
                            image: this,
                            crop: [50, 50, 600, 400]
                        }, document.getElementById('canvas'));
                        engine.trail = engine.TRAIL_SMUDGE;
                        engine.rain([[3, 3, 0.1]], 33);
                    };
                    image.crossOrigin = 'anonymous';
                    image.src = '../static/images/5.jpg';
                }
    </script>
    <!--[if IE]>
		<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>

<body onload="run2();run4();">
    <img id="background" alt="background" src="" />
    <img id="background2" alt="background" src="" />
    <canvas id="canvas" width="800" height="600"></canvas>
</body>

</html>