<!DOCTYPE html>
<html>

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>漫天祝福，温暖中秋</title>
    <meta name="viewport" content="width=640, target-densitydpi=device-dpi, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="full-screen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="format-detection" content="telephone=no">
    <meta name="x5-fullscreen" content="true">
    <meta name="360-fullscreen" content="true">
    <link rel="stylesheet" href="../kongming/css/main.css" />
</head>

<body>
    <div id="main">

        <div id="loading">
            <div class="bg"></div>
            <img class="pic" src="../kongming/images/loading/firecrackers.gif" />
            <div class="txt"></div>
        </div>

        <div id="container"></div>

        <!-- <img id="txt1" src="../kongming/images/txt1.png" style="display:none;" /> -->
        <img id="txt2" src="../kongming/images/txt2.png" />
        <img id="txt3" src="../kongming/images/txt3.png" />
        <img id="txt4" src="../kongming/images/txt4.png" />
        <img id="txt5" src="../kongming/images/txt5.png" />
        <img id="btnShare" src="../kongming/images/btnShare.png" />
        <img id="btnShare2" src="../kongming/images/btnShare2.png" />

        <img id="title" src="../kongming/images/title.png" />

        <div id="no">
            <!--<img class="bg" src="../kongming/images/no/bg.jpg"/>-->
            <!--<img class="light" src="../kongming/images/no/light.png"/>-->
            <!--<img class="txt" src="../kongming/images/no/txt.png"/>-->
        </div>

        <div id="share">
            <div class="bg"></div>
            <img class="txt1" src="../kongming/images/share/txt1.png" />
            <img class="txt2" src="../kongming/images/share/txt2.png" />
        </div>

        <img id="muteOn" src="../kongming/images/muteOn.png" />
        <img id="muteOff" src="../kongming/images/muteOff.png" />
        <!-- <img id="logo" src="../kongming/images/logo.png"/> -->

        <canvas id="canvas" width="768" height="768"></canvas>
        <audio id="bgm" src="../kongming/sounds/bgm.mp3" autoplay="autoplay" loop="loop"></audio>
    </div>

    <script type="text/javascript" src="../kongming/js/zepto.min.js"></script>
    <script type="text/javascript" src="../kongming/js/three.min.js"></script>
    <script type="text/javascript" src="../kongming/js/loaders/OBJLoader.js"></script>
    <script type="text/javascript" src="../kongming/js/TweenLite.min.js"></script>
    <script type="text/javascript" src="../kongming/js/plugins/CSSPlugin.min.js"></script>
    <script type="text/javascript" src="../kongming/js/ua-parser.min.js"></script>
    <script type="text/javascript" src="../kongming/js/main.min.js"></script>


</body>

</html>